@font-face {
    font-family: 'CircularStd-medium';
    src: url('../font/CircularStd-Medium.otf');
 }

 @font-face {
    font-family: 'CircularStd-book';
    src: url('../font/CircularStd-Book.otf');
 }

 @font-face {
    font-family: 'CircularStd-black';
    src: url('../font/CircularStd-Black.otf');
 }

 @font-face {
    font-family: 'CircularStd-light';
    src: url('../font/CircularStd-Light.otf');
 }

/**
    Estilos gerais
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

button {
    border: 0;
    cursor: pointer;
    text-decoration: uppercase;
    border: none;
}

.botao-padrao{
    font-family: 'CircularStd-black';
    color:  #191414;
    padding: 10px 20px;
    border-radius: 35px;
    background-color: #191414;
    border: 2px solid #191414;
    color: #fff;
    text-transform: uppercase;
    margin-left: 6px;
} 

li {
    list-style-type: none;
    display: inline-block;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.listas-padrao {
    text-decoration: none;
    list-style-type: none;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.row{
    margin-left: 0;
}
/**
    Topo
*/
header{
    background: #000;
    position: relative;
}

.menu::after {
    content: '';
    display: block;
    clear: both;
}

.logo{
    background: #000;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color: #fff;
    font-family: 'CircularStd-book';
    font-size: 16px;
    width: 129px;
    height: 40px;
    text-decoration: none;
}

.topo ul {
    margin-bottom: 20px;
}

.topo li {
    padding: 0 20px;
    text-decoration: none;
    list-style-type: none;
}

.topo li a{
    color: #fff;
    font-family: 'CircularStd-black';
}

.topo li a:hover {
    color: #1ed760;
}

/*
    Bloco rosa
*/

.bloco-rosa {
    background-color: #df0c8b;
}

.titulo h2 {
    padding-top: 40px;
    padding-bottom: 20px;
    color: #fff;
    line-height: 62.5px;
    font-family: 'CircularStd-black';
    font-size: 32px;
}


.paragrafo-medio p {
    color: #fff;
    font-family: 'CircularStd-light';
    font-size: 20px;
    margin-bottom: 20px;
}

.paragrafo-pequeno p {
    font-family: 'CircularStd-light';
    font-size: 10px;
    padding-top: 34px;
}

.h2-blocorosa h2{
    font-family: 'CircularStd-black';
    font-size: 30px;
    padding-top: 40px;
}

/*
    Bloco dois
*/
.bloco-dois {
    background: #fff;
    align-items: center;
}

 .botaorosa{
    margin-left: 4px;
    background-color: #df0c8b;
    border-color: #FFF;
}


.botoes-inicio{
    margin-top: 30px;
}

.bloco-dois .porque-premium{
    text-align: center;
    margin-bottom: 100px;
}

.bloco-dois article{
    margin-top: 57px;
    text-align: center;
}

.bloco-dois article h4{
    font-family: 'CircularStd-black';
    text-align: center;
    margin-top: 47px;
}

.bloco-dois article p{
    font-family: 'CircularStd-light';
    text-align: center;
    margin-top: 21px;
}


.imagens-config{
    width: 142px;
}
 
.bloco-dois h2 { 
    font-family: 'CircularStd-black';
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
}

/*
    Bloco três
*/

.container-bloco-tres{
    width: 100%;
}

.bloco-tres {
    background-color: #efefef;
}

.bloco-tres h2{
    font-family: 'CircularStd-black';
    font-size: 35px;
    padding-top: 67px;
    text-align: center;
}

.bloco-tres .ouca {
    font-family: 'CircularStd-light';
    text-align: center;
    margin-top: 10px;
}

.bloco-tres .marcas{
    text-align: center;
    line-height: 100px;
} 

.bloco-tres .marcas li{
    font-family: 'CircularStd-light';
}

.bloco-azul {
    margin-left: 16px;
    margin-bottom: 10px;
    font-family: 'CircularStd-black';
    background-color: #0d72ea;
    width: 150px;
    height: 26px;
    color: #fff;
    border-radius: 4px;
    line-height: 25px;
    padding-left: 10px;
    font-size: 12px;
}

.bloco-branco{
    margin-left: 16px;
    margin-bottom: 10px;
    font-family: 'CircularStd-black';
    color: #0d72ea;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #0d72ea;
    width: 180px;
    font-size: 12px;
    padding: 6px;
}

.plano-qtd-pessoas {
    font-size: 20px;
    font-family: 'CircularStd-black';
    margin-left: 16px;
}

.preco-planos{
    font-family: 'CircularStd-light';
    font-size: 13px;
    margin-left: 16px;
    margin-bottom: 26px;
}

.margem p{
    margin-bottom: 63px;
}

.primeiracaixa {
    padding-top: 16px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}

.segundacaixa{
    min-height: 180px;
    padding-top: 20px;
    background-color: #fff;
    padding-top: 16px;
    height: 364px;
    border: none;
}

.segundacaixa .seta li{
    margin-left: 16px;
}

.segundacaixa .elemento-lista li {
    width: 100%;
    font-family: 'CircularStd-light';
    line-height: 18px;
    font-size: 14px;
    padding-left: 30px;
    position: relative;
}

.segundacaixa .elemento-lista li .check{
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 8px;
}

.elemento-lista {
    border: none;
    line-height: 44px;
    word-spacing: 1px;
}

.seta {
    width: 55px;
    line-height: 55px;
}

.seta-terceiracoluna{
    line-height: 90px;
}


.terceiracaixa{
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.comeceagora{
    margin-bottom: 20px;
    padding: 10px 50px 10px 50px;
}

.paragrafo-final {
    font-family: 'CircularStd-light';
    font-size: 12px;
    margin-left: 10px;
    min-height: 130px;
}

.coluna {
    padding-bottom: 120px;
    vertical-align: top;
}

.primeira-coluna{
    margin-left: 0;
    width: 100%;
}

/*
    Rodapé
*/
.rodape .container-rodape{
    background-color: #000;
}

.logo-rodape img{
    margin-top: 60px;
    color: #fff;
    font-family: 'CircularStd-book';
    padding-bottom: 50px;
    font-size: 10px;
    height: 90px;
    text-decoration: none;
}

li .logo-rodape{
    padding-left: 30px;
}

.rodape ul .rodape-li li{
    font-size: 12px;
    font-family: 'CircularStd-light';
    list-style-type: none;
}

.rodape ul a{
    line-height: 40px;
} 

.rodape ul .rodape-li li a{
    color: #fff;
    text-decoration: none;
}

.rodape ul .rodape-li li a:hover{
    color: #1ed760;
}

.rodape li{
    vertical-align: top;
}

.titulos-rodape{
    margin-top: 80px;
    font-size: 12px;
    font-weight: 8px;
    font-family: 'CircularStd-medium';
    text-transform: uppercase;
    color: gray;
}

.redes li a span{
    color: #fff;
}

.redes li{
    border-radius:60px;
    background: #222326;
}

.linha-final ul{
    margin-top: 130px;
    margin-bottom: 65px;
}

.linha-final li a {
    text-decoration: none;
    color: gray;
    font-family: 'CircularStd-light';
    font-size: 11px;
    margin-right: 25px;
}

.linha-final li a:hover{
    color: #1ed760;
}

.brasil-rodape{
    margin-top: 103px;
    font-family: 'CircularStd-light';
    text-align: left;
    color: gray; 
    font-size: 12px;
    padding-left: 50px;
}
   

.brasil{
    margin-bottom: 16px;
    display: block;
}

.simbolo{
    margin: 0 3px 0 0;
}

.redes {
    margin-top: 80px;
}

.redes ul{
    display: block;
}

.redes ul li{
    margin-right: 15px;
}

.redes a{
    width: 54px;
    height: 54px;
    background-color: #222326;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon {
    display: block;
    width: 24px;
    height: 24px;
    color: #000;
}

.redes a:hover .icon {
    background-color: #1ed760;
}

.instagram{
    background: url(../imagens/instagram.svg), currentColor;
}

.twitter{
    background: url(../imagens/twitter.svg), currentColor;
}

.facebook{
    background:  url(../imagens/facebook.svg), currentColor;
}

    @media (max-width: 768px) {
            .navbar-menu {
                background-color: #000;
                width: 50vw;
                height: 100vh;
                z-index: 5;
                right: 0;
                top: 0;
                transition: all 0.5s ease-in-out;
                transform: translateX(200vw);
                padding-top: 50px;
            }

            body.active .navbar-menu {
                transform: translateX(0);
            }

            .navbar-menu .navbar-nav {
                flex-wrap: wrap;
            }

            .navbar-menu .navbar-nav li {
                width: 100%;
                text-align: left;
                padding-left: 2em;
                line-height: 50px;
            }

            .divisor {
                width: 25px !important;
                border-radius: 40px;
                height: 0.2em;
                background-color: #FFF;
                padding: 0px !important;
                margin: 30px 30px 40px 30px !important;
            }    

            .topo li a{
                font-size: 1.5em;
                font-family: 'CircularStd-black';
                cursor: pointer;
            }

            .topo .abaixo-divisor a{
                font-size: 1.5em;
                font-family: 'CircularStd-black';
                color: #ccc; 
                padding: 0;
            }

            .coluna{
                margin-left: 8em;
            }
    }

    @media (max-width: 866px) {
        .primeira-coluna, .segunda-coluna, .terceira-coluna, .quarta-coluna{
            margin-left: 1em;
        }

        .linha-final{
            margin-left: 0%;
            margin-bottom: 0%;
        }
    }

    @media(max-width:1200px){

        .logo-rodape img{
            margin-left: 0%;
        }

        
        .rodape-li ul li{
            display: block;
        }
    }


    .fa-1x {
        font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
        cursor: pointer;
    }